{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/comu_detail.css' %}" />

<div class="container" style="word-break: break-all">
  <br />

  <br /><br />
  <h1 class="type">[{{details.get_type_display}}]</h1>
  <h2 class="title"><b>{{details.title}}</b></h2>
  <br />
  <h5 class="author">작성자 : {{details.writer_id}}</h5>
  <hr />
  <br />
  <p class="what">{{details.contents|linebreaksbr}}</p>
  <br />

  <p class="date">{{details.date|date:'Y/m/d H:i' }}</p>
</div>
<div class="container">
  <hr />
  <form action="{% url 'comment_write' details_pk=details.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-floating">
      <textarea
        class="form-control"
        name="contents"
        placeholder="Leave a comment here"
        id="floatingTextarea"
        style="height: 150px; resize: none; margin-bottom: 5px"
      ></textarea>
      <label for="floatingTextarea">Comments</label>
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2" style="float: right">작성</button>
    </div>
  </form>
  <br /><br />
  {% for comment in details.comments.all %}
  <div class="comment" style="margin: 15px 0">
    <div class="card">
      <div class="card-header" style="padding-left: 80px; padding-right: 80px">
        <strong class="writer" style="float: left">작성자 : {{ comment.writer }}</strong>
        <div class="date2" style="float: right">{{ comment.date|date:'Y/m/d H:i' }}</div>
      </div>
      <div class="card-body">
        <p class="card-text">{{ comment.contents|linebreaksbr}}</p>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="card-text">No comments here yet :(</p>
  <br />
  {% endfor %}

  <hr />
</div>
<div class="container">
  <hr />
  <br />
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="." class="btn btn-md btn-outline-secondary">목록</a>
    <a href="{% url 'comu_update' details.id %}" class="btn btn-md btn-outline-secondary">수정</a>
    <a href="{% url 'comu_delete' details.id %}" class="btn btn-md btn-outline-secondary">삭제</a>
  </div>
  <br />
  <br />
</div>

{% endblock %}
