{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
    <div class="body container-md">
            <div class = 'title'>
                <h2><b>보드게임 이름</b></h2>
            </div>
            <hr>
            <div class = 'intro'>
                 <h1>intro</h1>
            </div>
            <div class = 'ruleselect'>
              
                  <input type = "radio" id = "Image" name = "rules" value = "Image"><label for = "Image">Image</label></label>
                  <input type = "radio" id = "Video" name = "rules" value = "Video"><label for = "Video">Video</label>
                  <input type = "radio" id = "Tutorial" name = "rules" value = "Tutorial"><label for = "Tutorial">Tutorial</label>
            </div>      
            <div class = 'rule'>
                <h1>rule</h1>
            </div>
        </div>

{% endblock %}
