{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
                <div class="jumbotron">
                    <h1 class="text-center">BoardGame Guide</h1>
                </div>
            </header>
            <div class="container-md">
                <form action="search" method="post">
                  {% csrf_token %}
                  <div class="search-box" style="margin: 30px">
                  <div class="row justify-content-md-center">
                    <div class="col col-lg-5" style="padding: 0;">
                      <input class="form-control me-2" name="search_value" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col col-lg-1">
                      <button class="btn btn-outline-success w-100 h-100" type="submit" >Search</button>
                    </div>
                  </div>
                  </div>
                </form>
                <form action="." method="post">
                <div class="container">
                  <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="게임인원수" style="width: 100%">
                          <option value="*" selected>전체</option>
                          <option  value="2">2명</option>
                          <option value="3">3명</option>
                          <option value="4">4명</option>
                          <option value="5">5명</option>
                          <option value="6">6명 이상</option>
                        </select>
                        <label for="floatingSelect">게임인원수</label>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="게임유형">
                          <option value="*" selected>전체</option>
                          <option value="1">전략게임</option>
                          <option value="2">테마게임</option>
                          <option value="3">가족게임</option>```
                          <option value="4">어린이게임</option>
                          <option value="5">파티게임</option>
                          <option value="6">워게임</option>
                          <option value="7">기타</option>
                        </select>
                        <label for="floatingSelect">게임 유형</label>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="게임시간" >
                          <option value="*" selected>전체</option>
                          <option value="1">0-30분</option>
                          <option value="2">30-60분</option>
                          <option value="3">60-120분</option>
                          <option value="4">120분 초과</option>
                        </select>
                        <label for="floatingSelect">게임 시간</label>
                      </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="대상연령">
                          <option value="*" selected>전체</option>
                          <option value="5">만 5세 이상</option>
                          <option value="7">만 7세 이상</option>
                          <option value="10">만 10세 이상</option>
                          <option value="14">만 14세 이상</option>
                        </select>
                        <label for="floatingSelect">대상 연령</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
          {% if gameList %}
            {% for post in gameList %}
              <h2>{{post.name}}</h2>
            {% endfor %}
          {% endif %}
        </div>
        
   {% endblock %}