<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <body class="body">
            <header>
              <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">Menu</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a href="{% url 'main' %}" class="nav-link">Home</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link">인기 순위</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link">커뮤니티</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'mypage' %}" class="nav-link">마이페이지</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">로그인</a>
                      </li>
                      <li class="nav-item">
                        <a href="{% url 'signup' %}" class="nav-link">회원가입</a>
                      </li>
                    </ul>
                   
                  </div>
                </div>
              </nav>
                <div class="jumbotron">
                    <h1 class="text-center">BoardGame Guide</h1>
                </div>
            </header>
            
                <form class="search" >
                  <div class="search-box" style="text-align: center;"></div>
                  <div class="row justify-content-md-center">
                    <div class="col col-lg-5" style="padding: 0;">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col col-lg-1">
                      <button class="btn btn-outline-secondary w-100 h-100" type="submit">Search</button>
                    </div>
                  </div>
                  </div>
                </form>
                
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  게임인원수
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">2명</a></li>
                  <li><a class="dropdown-item" href="#">3명</a></li>
                  <li><a class="dropdown-item" href="#">4명 이상</a></li>
                </ul>

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    게임 유형
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">전략게임</a></li>
                    <li><a class="dropdown-item" href="#">테마게임</a></li>
                    <li><a class="dropdown-item" href="#">가족게임</a></li>
                    <li><a class="dropdown-item" href="#">어린이게임</a></li>
                    <li><a class="dropdown-item" href="#">파티게임</a></li>
                    <li><a class="dropdown-item" href="#">워게임</a></li>
                    <li><a class="dropdown-item" href="#">기타</a></li>
                  </ul>

                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    게임 시간
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">20분</a></li>
                    <li><a class="dropdown-item" href="#">30분</a></li>
                    <li><a class="dropdown-item" href="#">40분</a></li>
                  </ul>

                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    대상 연령
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">5세 이상</a></li>
                    <li><a class="dropdown-item" href="#">10세 이상</a></li>
                    <li><a class="dropdown-item" href="#">15세 이상</a></li>
                  </ul>
              </div>

           
    </body>
</html>