{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
      <div class="jumbotron">
        <h1 class="text-center">BoardGame Guide</h1>
      </div>
    </header>

    <div id="section" class="member">
      <h4>회원 정보</h4>
      
    </div>
    
    <div id="section" class="best">
      <h4>좋아요 한 게임</h4>
    </div>
    
    <div id="section" class="writing">
      <h4>커뮤니티에 쓴 글</h4>
    </div>
    
    <div id="section" class="comment">
      <h4>커뮤니티에 쓴 댓글</h4>
    </div>
    


{% endblock %}
