{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rank.css' %}">
          <div class = 'title'>
            <h1>BoardGameGuide</h1>
          </div>
          <hr>
          <div class = "ranking">
            <div class = "top-ranking" style = "float:left">
                <div class = "top1">

                </div>
                <div class = "top2">

                </div>
                <div class = "top3">

                </div>
                <div class = "top4">

                </div>
                <div class = "top5">

                </div>
            </div>
            <div class = "ranks" style = "float:left">

            </div>

          </div>

{% endblock %}