{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rank.css' %}" />
<div class="container-md">
  <div class="title">
    <h1><b>Ranking</b></h1>
  </div>
  <hr />
  <div class="ranking">
    <div class="top-ranking">
      {% for post in gameList %}
      <div class="card" style="width: 80%; margin: 5px auto">
        <div class="card-body">
          <div style="float: left; width: 13%; position: absolute; top: 45%; text-align: center">
            <h4 style="color: #198754"><b>{{forloop.counter}}위</b></h4>
          </div>
          <img src="{% get_static_prefix %}game_img/{{post.gameImg}}" width="265" height="265" style="float: right; clear: both" />
          <div style="float: right; width: 58%; border-left: 1px solid grey; padding-left: 20px">
            <h5 class="card-title"><b>{{post.name}}</b></h5>
            <br />
            <p>
              참가 인원 : <span class="game-lparticipant">{{post.l_participant}}</span>-<span class="game-hparticipant"
                >{{post.h_participant}}</span
              >명
            </p>
            <p>대상 연령 <span class="game-age">{{post.age}}</span>세 이상</p>
            <p>게임 시간 <span class="game-runtime">{{post.runtime}}</span>시간</p>
            <p>게임 장르 <span class="game-genre" style="display: none">{{post.genre}}</span>{{post.get_genre_display}}</p>
            <p>추천 수 {{post.likes}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<style></style>

{% endblock %}
