{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rank.css' %}" />
<div class="container-md">
  <div class="title">
    <h1><b>Ranking</b></h1>
  </div>
  <hr />
  <div class="ranking">
    <div class="top-ranking" style="float: left">
      {% for post in gameList %}
      <div class="top"><b>{{forloop.counter}}위: {{post.name}} </b></div>
      {% endfor %}
    </div>
    <div class="ranks" style="float: left">
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="" alt="" class="col-12">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>보드게임 이름 {{post.game_id.name}}</b></h5><br>
              <p class="card-text">참가 인원 : {{post.game_id.l_participant}}명 ~ {{post.game_id.h_participant}}명</p>
              <p>대상 연령  {{post.game_id.age}}세 이상</p>
              <p>게임 시간  {{post.game_id.runtime}}시간</p>
              <p>게임 장르  {{post.game_id.get_genre_display}}</p>
              <p>추천 수  {{post.game_id.likes}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
