<!DOCTYPE html>
{% load static %}
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    </head>
  
    <body class="body" width="100%" height="100%">
      <div>
        <form action="." method="POST" class="loginForm">
          <h2>Sign up</h2>
          
          {% csrf_token %}
          
          <div class="idForm">
            <label for = "user_id"></label>
            <input type="text" class="user_id" id = "user_id" placeholder="user_id" name = "user_id">
          </div>
          <div class="emailForm">
            <label for = "email"></label>
            <input type="text" class="e-mail" id = "email" placeholder="email" name = "email">
          </div>
          <div class="nicknameForm">
            <label for = "nickname"></label>
            <input type="text" class="nick-name" id = "nickname" placeholder="nickname" name = "nickname">
          </div>
          <div class="nameForm">
            <label for = "name"></label>
            <input type="text" class="name" id = "name" placeholder="name" name = "name">
          </div>
          <div class="passForm">
            <label for = "password"></label>
            <input type="password" class="pw" id = "password" placeholder="password" name = "password">
          </div>
          <div class="passCheck">
            <label for = "re-password"></label>
            <input type="password" class="pw" id = "re-password" placeholder="re-password" name = "re-password">
          </div>
          <button type="submit" class="btn">
            SIGN UP
          </button>
          
        
        </form>
        <div>
          {{ error }}
        </div>
      </div>
    </body>
  </html>