:root {
    --body-background-color: #ffffff;
    --font-color: #5c6461;
    --logo-background-color: #ccd6d7;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  
  .body {
    background-color: var(--body-background-color);
  }

  .navbar {
    background-color: var(--font-color);
  }
  
  .nav-link {
    color: var(--body-background-color);
    font-size: 15px;
    text-decoration: none;
  }
  .nav-link:hover {
    color: rgb(171, 184, 174);
  }
  .navbar-brand {
    color: var(--body-background-color);
    font-size: 15px;
  }
  
  .jumbotron {
    background-color: var(--logo-background-color);
    color: var(--font-color);
    padding: 50px 10px;
    margin-bottom: 0px;
  }
  