:root {
  --body-background-color: #ffffff;
  --font-color: #5c6461;
  --logo-background-color: #ccd6d7;
}

h1{
  margin:0px;
}

.title{
  color:#52615C;
  margin-top:30px;



}

.rule{
  text-align: center;
  margin-top: 20px;

}

.ruleselect{
  
  text-align: center;


}

.ruleselect input[type=radio]{
  display:none;
}

.ruleselect input[type=radio] + label{
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width:300px;
  border: 1px solid var(--font-color);
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:20px;

  padding-top: 5px;

  background-color: var(--body-background-color);
  color:var(--font-color)
}

.ruleselect input[type = radio]:checked+label{
  background-color: var(--font-color);
  color: var(--body-background-color);
}

.intro{
  text-align: center;
  margin-bottom: 20px;
}
