:root {
  --body-background-color: #ffffff;
  --font-color: #5c6461;
  --logo-background-color: #ccd6d7;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}



.jumbotron {
  background-color: var(--logo-background-color);
  color: var(--font-color);
  padding: 50px 10px;
  margin-bottom: 0px;
}


.btn-outline-success {
  color: var(--font-color);
  outline-color: var(--font-color);
}

.dropdown-toggle {
  background-color: var(--body-background-color);
  color: var(--font-color);
  width: 18%;
  font-size: 20px;
}

.dropdown-menu {
  background-color: var(--body-background-color);
  width: 18%;
  color: var(--font-color);
}

.dropdown-item:active {
  background-color: var(--font-color);
}

.form-control {
  width: 100%;
  font-size: 20px;
}

.form-floating > .form-select {
  cursor: pointer;
}

.search-box {
  margin: 25px;
}

.container{
  margin-top: 25px;
}