:root{
	--body-background-color: #ffffff;
	--font-color: #52615C;
  --logo-background-color: #CCD6D7;
	
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    
  
  }
  
  .body {
    background-color: var(--body-background-color);
  }

  .jumbotron{
      background-color: var(--logo-background-color);
      color: var(--font-color);
      padding: 50px 10px;
      margin-bottom: 0px;
      
  }

  .navbar{
      background-color:var(--font-color);
     
  }

  .nav-link  {
    color:var(--body-background-color);
    font-size: 15px;
}

 .navbar-brand {
  color:var(--body-background-color);
  font-size: 15px;
}

.btn-outline-success{
  color: var(--font-color);
  outline-color: var(--font-color);
  
}


  .dropdown-toggle {
      background-color:var(--body-background-color);
      color: var(--font-color);
      width: 18%;
      font-size: 20px;
      
  }

  .dropdown{
    text-align: center;
      margin: 25px;
  }
  
  .dropdown-menu{
      background-color:var(--body-background-color);
      width: 18%;
      color: var(--font-color);
  }

  .dropdown-item:active {
    background-color: var(--font-color);
    }

  .form-control{
    width: 100%;
    font-size: 20px;
  }

  .search{
    margin-top: 25px;
  }

 
  



  