:root {
  --body-background-color: #ffffff;
  --font-color: #5c6461;
  --logo-background-color: #ccd6d7;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.card-text{
  margin-left: 10px;
  margin-top: 10px;
}

.member{
  margin-top: 25px;
}

.best{
  margin-top: 25px;
}

.comment{
  margin-top: 25px;
}

.title{
  margin-bottom: 25px;
}




