:root {
  --body-background-color: #ffffff;
  --font-color: #5c6461;
  --logo-background-color: #ccd6d7;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}



.jumbotron {
  background-color: var(--logo-background-color);
  color: var(--font-color);
  padding: 50px 10px;
  margin-bottom: 0px;
}

